<!-- SWITCHER -->

<div class="switcher-wrapper">
  <div class="demo_changer">
    <div class="form_holder sidebar-right1">
      <div class="row">
        <div class="predefined_styles">
          <div class="swichermainleft text-center">
            <div class="p-3 d-grid gap-2">
              <a href="index.html" target="_blank" class="btn btn-primary rounded-10 mt-0">مشاهده نسخه ی نمایشی</a>
              <a href="#" target="_blank"
                 class="rounded-10 btn btn-secondary">هم اکنون خریداری کنید</a>
              <a href="#" target="_blank"
                 class="rounded-10 btn btn-info">نمونه کارها ما</a>
            </div>
          </div>
          <div class="swichermainleft">
            <h4>نسخه های LTR و RTL</h4>
            <div class="skin-body">
              <div class="switch_section">
                <div class="switch-toggle d-flex">
                  <span class="me-auto">چپ چین</span>
                  <p class="onoffswitch2"><input type="radio" name="onoffswitch7"
                                                 id="myonoffswitch19" class="onoffswitch2-checkbox" checked>
                    <label for="myonoffswitch19" class="onoffswitch2-label"></label>
                  </p>
                </div>
                <div class="switch-toggle d-flex mt-2">
                  <span class="me-auto">راستچین</span>
                  <p class="onoffswitch2"><input type="radio" name="onoffswitch7"
                                                 id="myonoffswitch20" class="onoffswitch2-checkbox">
                    <label for="myonoffswitch20" class="onoffswitch2-label"></label>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swichermainleft menu-styles">
            <h4>نوع ناوبری</h4>
            <div class="skin-body">
              <div class="switch_section">
                <div class="switch-toggle d-flex">
                  <span class="me-auto">منو عمودی</span>
                  <p class="onoffswitch2">
                    <input type="radio" name="onoffswitch01" id="myonoffswitch01" class="onoffswitch2-checkbox" checked>
                    <label for="myonoffswitch01" class="onoffswitch2-label"></label>
                  </p>
                </div>
                <div class="switch-toggle d-flex mt-2">
                  <span class="me-auto">منو افقی با کلیک</span>
                  <p class="onoffswitch2">
                    <input type="radio" name="onoffswitch01" id="myonoffswitch02" class="onoffswitch2-checkbox">
                    <label for="myonoffswitch02" class="onoffswitch2-label"></label>
                  </p>
                </div>
                <div class="switch-toggle d-flex mt-2">
                  <span class="me-auto">منو افقی با هوور</span>
                  <p class="onoffswitch2">
                    <input type="radio" name="onoffswitch01" id="myonoffswitch03" class="onoffswitch2-checkbox">
                    <label for="myonoffswitch03" class="onoffswitch2-label"></label>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swichermainleft">
            <h4>استایل تم روشن</h4>
            <div class="skin-body">
              <div class="switch_section">
                <div class="switch-toggle d-flex">
                  <span class="me-auto">تم روشن</span>
                  <p class="onoffswitch2">
                    <input type="radio" name="onoffswitch1" id="myonoffswitch1" class="onoffswitch2-checkbox" checked>
                    <label for="myonoffswitch1" class="onoffswitch2-label"></label>
                  </p>
                </div>
                <div class="switch-toggle d-flex mt-2">
                  <span class="me-auto">اولویت روشن</span>
                  <div class="">
                    <input class="wd-30 ht-30 input-color-picker color-primary-light" value="#6259ca" id="colorID" oninput="changePrimaryColor()" type="color" data-id="bg-color" data-id1="bg-hover" data-id2="bg-border" data-id7="transparentcolor" name="lightPrimary">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swichermainleft">
            <h4>سبک تم تاریک</h4>
            <div class="skin-body">
              <div class="switch_section">
                <div class="switch-toggle d-flex">
                  <span class="me-auto">تم تاریک</span>
                  <p class="onoffswitch2"><input type="radio" name="onoffswitch1" id="myonoffswitch2" class="onoffswitch2-checkbox">
                    <label for="myonoffswitch2" class="onoffswitch2-label"></label>
                  </p>
                </div>
                <div class="switch-toggle d-flex mt-2">
                  <span class="me-auto">اصلی تاریک</span>
                  <div class="">
                    <input class="wd-30 ht-30 input-dark-color-picker color-primary-dark" value="#6259ca" id="darkPrimaryColorID" oninput="darkPrimaryColor()" type="color" data-id="bg-color" data-id1="bg-hover" data-id2="bg-border" data-id3="primary" data-id8="transparentcolor" name="darkPrimary">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swichermainleft menu-colors">
            <h4>سبک‌های منو</h4>
            <div class="skin-body">
              <div class="switch_section">
                <div class="switch-toggle lightMenu d-flex">
                  <span class="me-auto">منوی روشن</span>
                  <p class="onoffswitch2"><input type="radio" name="onoffswitch2" id="myonoffswitch3" class="onoffswitch2-checkbox">
                    <label for="myonoffswitch3" class="onoffswitch2-label"></label>
                  </p>
                </div>
                <div class="switch-toggle colorMenu d-flex mt-2">
                  <span class="me-auto">منوی رنگی</span>
                  <p class="onoffswitch2"><input type="radio" name="onoffswitch2" id="myonoffswitch4" class="onoffswitch2-checkbox">
                    <label for="myonoffswitch4" class="onoffswitch2-label"></label>
                  </p>
                </div>
                <div class="switch-toggle darkMenu d-flex mt-2">
                  <span class="me-auto">منوی تاریک</span>
                  <p class="onoffswitch2"><input type="radio" name="onoffswitch2" id="myonoffswitch5" class="onoffswitch2-checkbox" checked>
                    <label for="myonoffswitch5" class="onoffswitch2-label"></label>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swichermainleft header-colors">
            <h4>سبک هدر</h4>
            <div class="skin-body">
              <div class="switch_section">
                <div class="switch-toggle lightHeader d-flex">
                  <span class="me-auto">هدر روشن</span>
                  <p class="onoffswitch2"><input type="radio" name="onoffswitch3" id="myonoffswitch6" class="onoffswitch2-checkbox" checked>
                    <label for="myonoffswitch6" class="onoffswitch2-label"></label>
                  </p>
                </div>
                <div class="switch-toggle  colorHeader d-flex mt-2">
                  <span class="me-auto">هدر رنگی</span>
                  <p class="onoffswitch2"><input type="radio" name="onoffswitch3" id="myonoffswitch7" class="onoffswitch2-checkbox">
                    <label for="myonoffswitch7" class="onoffswitch2-label"></label>
                  </p>
                </div>
                <div class="switch-toggle darkHeader d-flex mt-2">
                  <span class="me-auto">هدر تاریک</span>
                  <p class="onoffswitch2"><input type="radio" name="onoffswitch3" id="myonoffswitch8" class="onoffswitch2-checkbox">
                    <label for="myonoffswitch8" class="onoffswitch2-label"></label>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swichermainleft layout-width-style">
            <h4>سبک عرض طرح</h4>
            <div class="skin-body">
              <div class="switch_section">
                <div class="switch-toggle d-flex">
                  <span class="me-auto">عرض کامل</span>
                  <p class="onoffswitch2"><input type="radio" name="onoffswitch4" id="myonoffswitch9" class="onoffswitch2-checkbox" checked>
                    <label for="myonoffswitch9" class="onoffswitch2-label"></label>
                  </p>
                </div>
                <div class="switch-toggle d-flex mt-2">
                  <span class="me-auto">بسته</span>
                  <p class="onoffswitch2"><input type="radio" name="onoffswitch4" id="myonoffswitch10" class="onoffswitch2-checkbox">
                    <label for="myonoffswitch10" class="onoffswitch2-label"></label>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swichermainleft layout-positions">
            <h4>سبک‌های موقعیت طرح</h4>
            <div class="skin-body">
              <div class="switch_section">
                <div class="switch-toggle d-flex">
                  <span class="me-auto">ثابت</span>
                  <p class="onoffswitch2"><input type="radio" name="onoffswitch5" id="myonoffswitch11" class="onoffswitch2-checkbox" checked>
                    <label for="myonoffswitch11" class="onoffswitch2-label"></label>
                  </p>
                </div>
                <div class="switch-toggle d-flex mt-2">
                  <span class="me-auto">پیمایشی</span>
                  <p class="onoffswitch2"><input type="radio" name="onoffswitch5" id="myonoffswitch12" class="onoffswitch2-checkbox">
                    <label for="myonoffswitch12" class="onoffswitch2-label"></label>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swichermainleft vertical-switcher">
            <h4>سبک‌های طرح منو کناری</h4>
            <div class="skin-body">
              <div class="switch_section">
                <div class="switch-toggle d-flex">
                  <span class="me-auto">منوی پیش‌فرض</span>
                  <p class="onoffswitch2"><input type="radio" name="onoffswitch6" id="myonoffswitch13" class="onoffswitch2-checkbox default-menu" checked>
                    <label for="myonoffswitch13" class="onoffswitch2-label"></label>
                  </p>
                </div>
                <div class="switch-toggle d-flex mt-2">
                  <span class="me-auto">آیکون با متن</span>
                  <p class="onoffswitch2"><input type="radio" name="onoffswitch6" id="myonoffswitch14" class="onoffswitch2-checkbox">
                    <label for="myonoffswitch14" class="onoffswitch2-label"></label>
                  </p>
                </div>
                <div class="switch-toggle d-flex mt-2">
                  <span class="me-auto">پوشش آیکون</span>
                  <p class="onoffswitch2"><input type="radio" name="onoffswitch6" id="myonoffswitch15" class="onoffswitch2-checkbox">
                    <label for="myonoffswitch15" class="onoffswitch2-label"></label>
                  </p>
                </div>
                <div class="switch-toggle d-flex mt-2">
                  <span class="me-auto">منوی جانبی بسته</span>
                  <p class="onoffswitch2"><input type="radio" name="onoffswitch6" id="myonoffswitch16" class="onoffswitch2-checkbox">
                    <label for="myonoffswitch16" class="onoffswitch2-label"></label>
                  </p>
                </div>
                <div class="switch-toggle d-flex mt-2">
                  <span class="me-auto">زیرمنوی متحرک</span>
                  <p class="onoffswitch2"><input type="radio" name="onoffswitch6" id="myonoffswitch17" class="onoffswitch2-checkbox">
                    <label for="myonoffswitch17" class="onoffswitch2-label"></label>
                  </p>
                </div>
                <div class="switch-toggle d-flex mt-2">
                  <span class="me-auto">زیرمنوی متحرک سبک 1</span>
                  <p class="onoffswitch2"><input type="radio" name="onoffswitch6" id="myonoffswitch18" class="onoffswitch2-checkbox">
                    <label for="myonoffswitch18" class="onoffswitch2-label"></label>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swichermainleft">
            <h4>بازنشانی همه سبک‌ها</h4>
            <div class="skin-body">
              <div class="switch_section my-4">
                <button class="btn btn-danger btn-block" onclick="localStorage.clear(); document.querySelector('html').style = ''; names(); resetData();" type="button">بازنشانی همه</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END SWITCHER -->
