<div class="z-40 shadow-sm" [ngClass]="{ 'dark text-white-dark': store.semidark && store.menu === 'horizontal'}">
    <div class="flex w-full items-center bg-white px-5 py-2.5 dark:bg-[#0e1726]">
        <a routerLink="/" class="main-logo flex shrink-0 items-center">
            <img class="inline w-8 ltr:-ml-1 rtl:-mr-1" src="/assets/images/logo.svg" alt="" />
            <span class="hidden align-middle text-2xl font-semibold transition-all duration-300 dark:text-white-light md:inline ltr:ml-1.5 rtl:mr-1.5">
                VRISTO
            </span>
        </a>
        <ul class="ml-auto flex items-center space-x-2 rtl:space-x-reverse">
            <li>
                <a routerLink="/products" class="hover:text-primary">{{ 'products' | translate }}</a>
            </li>
            <li class="dropdown">
                <div hlMenu>
                    <button type="button" hlMenuButton class="flex items-center">
                        <img class="h-5 w-5 rounded-full object-cover" [src]="'/assets/images/flags/'+ store.locale.toUpperCase() + '.svg'" alt="" />
                        <icon-caret-down class="ltr:ml-2 rtl:mr-2" />
                    </button>
                    <ul *hlMenuItems class="top-11 grid w-[120px] gap-2 !px-2 font-semibold text-dark dark:text-white-dark dark:text-white-light/90">
                        <li *ngFor="let item of store.languageList">
                            <button type="button" class="w-full hover:text-primary" [ngClass]="{ 'bg-primary/10 text-primary': translate.currentLang === item.code }" (click)="changeLanguage(item)">
                                {{ item.name }}
                            </button>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
